* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-primary {
    color: #124265 !important;
  }
  
.btn-primary {
    background-color: #124265 !important;
    border-radius: 15px;
}


#company {
    background-color: #fff;
}


#services {
    background-color: #F5F5F5;
}



#footer-section {
    background-color: #124265;
}
#footer-section a {
    text-decoration: none;
    color: #fff;
}
#footer-section li {
    list-style: none;
}
#footer-end {
    background-color: black;
}

.socials {
    border-radius: 0 12% 0 12%;
}
