* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-primary {
    color: #124265 !important;
}  
.btn-primary {
    background-color: #124265 !important;
}

.bg-color-primary {
    background-color: #124265 !important;
}

.navbar-toggler {
    background-color: orange;
}


#fill-form {
    position: relative;
}
#fill-form::before {
    content: "";
    background: url(../img/carousel-1.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
}

.row {
    position: relative;
}

.card-body:hover {
    background-color: orange;
}

#fill-form {
    background-color: aliceblue;
}


#footer-section {
    background-color: #124265;
}
#footer-section a {
    text-decoration: none;
    color: #fff;
}
#footer-section li {
    list-style: none;
    
}

