* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* HEADER STYLING */
.text-primary {
    color: blue !important;
}


/* BREADCRUMB */
#crumb {
    background: url(../img/slider-banner.jpg);
    background-size: cover;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
}
.breadcrumb-item a {
    color: #fff;
}

/* FOOTER STYLING */
#footer-section a {
    text-decoration: none;
    color: #fff;
}
#footer-section li {
    list-style: none;
}

.socials {
    border-radius: 0 12% 0 12%;
}
/* END OF FOOTER SECTION */

.divider {
    height: 3px;
    width: 70px;
    background: linear-gradient(to right, navy, #0d6efd);
    margin:auto;
}

.card-body:hover {
    background-color: rgb(246 133 79);
    border-radius: 5px;
}
.card-body:hover a {
    color: #fff;
}



/* FORM STYLING */
#fill-form {
    position: relative;
    background: url(../img/carousel-1.jpg);
    background-size: cover;
}
#fill-form::before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: black;
    opacity: 0.6;
}

.form-side {
    position: relative;
}

.form-label {
    color: #fff;
}



@media (max-width: 575px) {

    .lead {
        font-size: medium;
    }

}