* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-primary {
    color: blue !important;
}

.divider {
    height: 3px;
    width: 70px;
    background: linear-gradient(to right, navy, #0d6efd);
    margin:auto;
}



/* BREADCRUMB */
#crumb {
    background: url(../img/slider-banner.jpg);
    background-size: cover;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
}
.breadcrumb-item a {
    color: #fff;
}


/* FOOTER STYLING */
#footer-section a {
    text-decoration: none;
    color: #fff;
}
#footer-section li {
    list-style: none;
}

.socials {
    border-radius: 0 12% 0 12%;
}
/* END OF FOOTER SECTION */



/* REVIEWS SECTION */
.testimonial-person {
    text-align: center;
  }
  
  .testimonial-person img {
    width: 120px;
    height: 120px;
  }

  .testimonial-step {
    text-align: center;
  }
  
  .testimonial-step img {
    width: 5g0px;
    height: 50px;
  }




/* MEDIA QUERY */

@media (max-width: 575px) {

    .lead {
        font-size: medium;
    }

}






