* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-primary {
    color: blue !important;
}

.divider {
    height: 3px;
    width: 70px;
    background: linear-gradient(to right, navy, #0d6efd);
    margin:auto;
}



/* BREADCRUMB */
#crumb {
    background: url(../img/slider-banner.jpg);
    background-size: cover;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
}
.breadcrumb-item a {
    color: #fff;
}


/* FOOTER STYLING */
#footer-section a {
    text-decoration: none;
    color: #fff;
}
#footer-section li {
    list-style: none;
}

.socials {
    border-radius: 0 12% 0 12%;
}
/* END OF FOOTER SECTION */


/* PRICING STYLING */
.card {
    border: 2px solid #0d6efd;
}
.card-dark:hover {
    background-color: #212529;
}
.card-dark:hover li {
    color: #fff;
}
.card-dark:hover h1 {
    color: #fff;
}
.card-dark:hover .cents {
    color: #fff;
}

.bg-bronze {
    background-color: #fddbb8;
}
.bg-silver {
    background-color:rgb(215, 215, 215);
}
.bg-gold {
    background-color: rgb(253, 237, 145);
}


/* REVIEWS SECTION */
.testimonial-person {
    text-align: center;
  }
  
  .testimonial-person img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }




/* MEDIA QUERY */

@media (max-width: 575px) {

    .lead {
        font-size: medium;
    }

    /* #training .container .pricing .row .mentorship {
        order: 3;
    } */

}






