* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-primary {
    color: blue !important;
}

/* HEADER STYLING */


/* BREADCRUMB */
#crumb {
    background: url(../img/slider-banner.jpg);
    background-size: cover;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
}
.breadcrumb-item a {
    color: #fff;
}

/* FOOTER STYLING */
#footer-section a {
    text-decoration: none;
    color: #fff;
}
#footer-section li {
    list-style: none;
}


.socials {
    border-radius: 0 12% 0 12%;
}
/* END OF FOOTER SECTION */
