* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* HEADER STYLING */
.text-primary {
    color: blue !important;
}


/* BREADCRUMB */
#crumb {
    background: url(../img/slider-banner.jpg);
    background-size: cover;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
}
.breadcrumb-item a {
    color: #fff;
}

/* FOOTER STYLING */
#footer-section a {
    text-decoration: none;
    color: #fff;
}
#footer-section li {
    list-style: none;
}


.socials {
    border-radius: 0 12% 0 12%;
}
/* END OF FOOTER SECTION */


#faq {
    position: relative;
    background: url(../img/carousel-1.jpg);
    background-size: cover;
}
#faq::before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: black;
    opacity: 0.7;
}
h2 {
    position: relative;
}
p {
    position: relative;
}
.accordion {
    position: relative;
}

.accordion-button {
    background-color: #e7f1ff;
}





@media (max-width: 575px) {

    .lead {
        font-size: medium;
    }

}