* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-primary {
    color: blue !important;
}

.divider {
    height: 3px;
    width: 70px;
    background: linear-gradient(to right, navy, #0d6efd);
    margin:auto;
}

/* HEADER STYLING */



/* BREADCRUMB */
#crumb {
    background: url(../img/slider-banner.jpg);
    background-size: cover;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
}
.breadcrumb-item a {
    color: #fff;
}


/* FOOTER STYLING */
#footer-section a {
    text-decoration: none;
    color: #fff;
}
#footer-section li {
    list-style: none;
}

.socials {
    border-radius: 0 12% 0 12%;
}
/* END OF FOOTER SECTION */


/* PRICING STYLING */
.card {
    border: 2px solid #0d6efd;
}
.card:hover {
    background-color: #212529;
}
.card:hover li {
    color: #fff;
}
.card:hover h1 {
    color: #fff;
}
.card:hover .cents {
    color: #fff;
}

.bg-bronze {
    background-color: #fddbb8;
}
.bg-silver {
    background-color:rgb(215, 215, 215);
}
.bg-gold {
    background-color: rgb(253, 237, 145);
}





/* MEDIA QUERY */

@media (max-width: 575px) {

    .lead {
        font-size: medium;
    }
}






