* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-primary {
    color: blue !important;
}

.divider {
    height: 3px;
    width: 70px;
    background: linear-gradient(to right, navy, #0d6efd);
    margin:auto;
}

/* NAVBAR STYLING */
.navbar-nav .btn {
    background-color: orangered;
    color: #fff;
    border-radius: 0;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    margin-top: -10px;
}

.navbar-nav .btn:hover {
    background-color: #124265;
}


/* CAROUSEL STYLING */
.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    opacity: 0.6;
}

.carousel-caption {
    bottom: 90px;
    padding: 10% 0;
}

.slider-btn {
    margin-top: 30px;
}
.slider-btn .btn {
    background-color: orangered;
    color: #fff;
    border-radius: 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.slider-btn .btn-1 {
    margin-right: 10px;
}
.slider-btn .btn-2 {
    background-color: #fff;
    color: black;

}


/* FOOTER STYLING */
#footer-section a {
    text-decoration: none;
    color: #fff;
}
#footer-section li {
    list-style: none;
}

.socials {
    border-radius: 0 12% 0 12%;
}

/* END OF FOOTER SECTION */



.bg-cover {
    background-size: cover;
    background-repeat: no-repeat;
}

/* SERVICE SECTION */

#our-services img {
    border: 2px solid blue;
}

.service .service-img {
    position: relative;
}

.service .service-img .icon {
    height: 90px;
    width: 90px;
    background: linear-gradient(to right, navy, #0d6efd);
    color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
}


  /* FEATURES SECTION */
  #features i {
    background: -webkit-linear-gradient(navy, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
  }
  #features .col-md-4:hover {
    background: #fff;
  }

/* REVIEWS SECTION */
.testimonial-person {
    text-align: center;
  }
  
  .testimonial-person img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }



@media (max-width: 575px) {
    .d-xs-block {
        display: block!important;
    }

    .carousel-item::before {
        opacity: 0.5;
    }

    .carousel-caption {
        bottom: 40px;
        padding: 10% 0;
    }
    
    .carousel-caption h5 {
        font-size:large;
    }
    .carousel-caption p {
        font-size:small;
        padding-bottom: 0;
    }
    .carousel-caption{
        padding: 0;
    }
    .slider-btn {
        margin: 0;
    }
    .slider-btn .btn {
        font-size: 0.7rem;
        padding: 5px;
    }
    .carousel-indicators {
        margin-bottom: 0;
    }

    .lead {
        font-size: medium;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .carousel-item::before {
        opacity: 0.4;
    }
    .carousel-caption {
        bottom: 50px;
    }
    .carousel-caption h5 {
        font-size: xx-large;
    }
    .carousel-caption p {
        font-size:large;
        padding-bottom: 0;
    }

}